.centered{
  display:flex;
  align-items:center;
}

.path{
  font-size: .8rem;
  border: grey 1px solid;
  color:white;
  padding:10px;
  max-width:300px;
}
.test{
   font-size: .8rem;
   border: grey 1px solid;
   color:white;
   padding:10px;
   max-width:300px;
 }